* {
    box-sizing: border-box;
  }

  /* Navbar */
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(244, 253, 255, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 105px;
    height: auto;
    margin-top: 0px;
  }
  
  .header-left {
    float: left;
  }
  .login{
    background-color: rgba(19, 182, 41, 0.7);
    border-radius: 10px;
    line-height: 45px;
    padding: 0 10px;
    color: white;
    display: block;
    float: right;
    transition: all 0.5s;
    margin-right:50px;
    margin-top:10px;
    text-decoration:none;
}
  .header-right {
    float: right;
    margin-right:220px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 20px;
    color: black;
    display: block;
    float: left;
    transition: all 0.5s;
    text-decoration:none;
  }
  
  .header-right a:hover {
    font-size:17px;
    opacity:0.7;
  }
.login:hover{
  opacity:0.5;
}




  /* Banner disini */
 
  body {
    margin: 0;
    font-family: "Sans Serif";
  }

  a {
    text-decoration: none;
  }

  .main-banner .left-content {
    padding: 180px 0px 100px 0px;
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: left;
  
  }

  .left-content h1 {
    
    font: 700 12px Poppins, sans-serif;
    position: relative;
    font-weight: 700;
    line-height: 70px;
    font-size: 60px;
    margin-bottom: 20px;
    opacity: 80%;
  }
  
  .main-banner .text-caption {
    font: 600 18px Poppins, sans-serif;
    margin-bottom: 20px;
    color: #27c499;
  }

  .left-content {
    float: left;
  }

  .gr {
    font: 600 12px/23px Poppins, sans-serif;
    color: #fff;
    padding: 12px 18px;
    border-radius: 10px;
    background-color: #27c499;
    transition: 0.3s;
  }

  .gr:hover {
    border: #555b61;
    border-radius: 2px;
    opacity: 60%;
    transition: 0.3s;
  }

  .wh {
    font: 400 17px Poppins, sans-serif;
    border: 1px solid #555b61;
    color: #555b61;
    padding: 16px 24px;
    border-radius: 20px;
    background-color: transparent;
    transition: 0.3s;
    margin-left: 20px;
  }

  .wh:hover {
    border: 1px solid #27c499;
    color: #27c499;
    transition: 0.3s;
  }

  .btn1 {
    padding: 12px 24px;
    display: inline-block;
    position: relative;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }

  .btn-wrapper1 {
    text-align: left;
    margin: 20px 0;
  }

  .main-banner .right-content { 
    padding: 180px 0px 100px 0px;
    float: right;
  }
.right-content .banner-pict {
  width: 400px;
  height: 300px;
}

  /* Isi Content */

  .content-wrapper {
    padding-bottom: 10px;
    background-color: #f9fffa;
    text-align: center;
    }

 .heading {
     padding-top: 680px;
     padding-bottom: 40px;
     font-size: 25px;
    text-align:center;
 }   

.heading h1 {
    font-weight: bold;
    color:rgb(31, 1, 1);
}

.proces {
    display:flex; 
}

.border1 {
    position: relative;
    border: 4px solid #9e9e9e;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    flex:auto;
    margin-right:15px;
}

.border2 {
    position: relative;
    border: 4px solid #9e9e9e;
    width: 300px;
    height: 300px;
    border-radius: 20px;
   flex:auto;
   margin-right:15px;
}

.border3 {
    position: relative;
    border: 4px solid #9e9e9e;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  flex:auto;
}

.border1:hover {
    border: 4px solid #233E8B;
    outline: solid 8px #77E4D4;
    transition: outline 0.3s linear;
    margin: 4px;
}

.border2:hover {
    border: 4px solid #233E8B;
    outline: solid 8px #77E4D4;
    transition: outline 0.3s linear;
    margin: 4px;
}

.border3:hover {
    border: 4px solid #233E8B;
    outline: solid 8px #77E4D4;
    transition: outline 0.3s linear;
    margin: 4px;
}

.text-in-border1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px;
}   

.text-in-border2 {
    text-align: center;
    font-size: 22px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 35px;
    margin-bottom: 20px;
}


.btn-wrapper {
    margin-top: 100px;
    margin-bottom: 70px;
  }
  
.btn-wrapper p {
    margin: 20px 0;
  }
  
.play {
    background-color: #2ec070;
    margin-right: 10px;
  }
  
.book {
    background-color: #f2f7df;
  }
  
.btn {
    padding: 18px 30px;
    color: rgb(0, 0, 0);
    display: inline-block;
    opacity: 0.8;
    border-radius: 10px;
    font-size: 20x;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3.5px solid green;
  }
  
.btn:hover {
    opacity: 1;
    box-shadow: 5px 10px #a9d83b;
  }
  
.fa {
    margin-right: 5px;
  }

  /* Footer */

  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    color: #fff;
    background-color: darkblue;
}

.footer>* {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 400;
    font-size: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: white;
}


.b-footer {
    text-align: center;
    color: white;
    padding-top: 10px;
}

.l-footer p {
    padding-right: 20%;
    color: white;
}

@media screen and (min-width: 600px) {
    .r-footer>* {
        flex: 1;
    }
    .l-footer {
        flex: 1 0px;
    }
    .r-footer {
        flex: 2 0px;
    }
}

.l-footer img {
    width: 100px;
}